<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>WEATHER APP</title>
  </head>
  <body>
    <h1 class="text-center mt-4">CITY WEATHER TODAY</h1>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title text-center">Kampala</h5>
              <p class="card-text">
                <b>Temp(°C):</b> 23
                <br />
                <b></b>
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">One of three columns</div>
        <div class="col-sm-6 col-md-4">One of three columns</div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
